<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="person03" class="person">
		<constructor-arg value="消化" name="lastname"></constructor-arg>
		<constructor-arg value="23" name="age"></constructor-arg>
	</bean>

	<bean id="person04" class="person">
		<constructor-arg value="消化" index="0"></constructor-arg>
		<constructor-arg value="23" index="1"></constructor-arg>
	</bean>

	<bean id="person05" class="person">
		<constructor-arg value="消化" type="java.lang.String"></constructor-arg>
		<constructor-arg value="23" index="1"></constructor-arg>
	</bean>
</beans>

